{% extends 'default.html' %}


{% block title %}
Отклики на мои объявления
{% endblock title %}

{% block content %}
    <h3> Отклики на мои объявления</h3>
    {% if user.is_authenticated %}
        {% if resp %}
            {% block search %}
            {% endblock search %}
            <h3> Отклики на объявление: </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Объявление</th>
                        <th scope="col">Дата отклика</th>
                        <th scope="col">Автор отклика</th>
                        <th scope="col">Текст отклика</th>
                        <th scope="col">Удалить отклик</th>
                        <th scope="col">Принять отклик</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in resp %}
                   <tr>
                       <td>{{ p.adv_id }}</a></td>
                       <td>{{ p.date_create|date:'d.m.Y H:i:s' }}</td>
                       <td>{{ p.user_id }}</a></td>
                       <td>{{ p.text }}</td>
                       <td><button> <a href="{% url 'response_delete' p.pk %}"> УДАЛИТЬ </a> </button></td>
                       <td><button> <a href="{% url 'response_accept' p.pk %}"> ПРИНЯТЬ </a> </button></td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3> Откликов пока нет... </h3>
        {% endif %}
    {% else %}
        <h3> Авторизуйтесь на сайте для просмотра откликов на ваши объявления! </h3>
    {% endif %}
    <hr>

{% endblock content %}